<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title><%= title %></title>
    <link rel="stylesheet"   href="css/styles.css" />
    <link rel="stylesheet"   href="css/bootstrap.css" />
    <link rel="stylesheet"   href="css/swiper.min.css">
    <link rel="icon" href="img/favicon.png" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Sans+JP:wght@400;500&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">

    
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <!-- <a class="navbar-brand" href="img/Msi_Logo.png"></a> -->
            <img class="navbar-brand" src="img/Msi_Logo.png" alt="msi-logo">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#jump-about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#jump-team">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/service">Service</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="
      background:url(/img/header1.jpg)">
                <!-- <img class="img-fluid" src="img/header1.jpg" alt=""> -->
            </div>
            <div class="swiper-slide" style="
      background: url(/img/header2.jpg);">
                <!-- <img class="img-fluid" src="img/header2.jpg" alt=""> -->
            </div>
            <div class="swiper-slide" style="
      background: url(/img/header3.jpg);">
                <!-- <img class="img-fluid" src="img/header3.jpg" alt=""> -->
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <div class="top-container">
        <div class="who-wrapper">
            <div class="desc-wrapper">
                <div id="jump-about" class="who-desc">
                    <h4>Who we are</h3>
                        <p>As a world leading gaming brand, MSI is the most trusted name in gaming and eSports.
                            We’ve dedicated countless hours and numerous resources to the eSports community to support
                            the world’s most aspiring gamers and leverage their gaming expertise to optimize our product
                            design.
                            MSI has integrated all gamers’ coveted functions into its gaming rigs, eliminating the
                            tedious trial
                            and error by themselves and pushing the performance beyond limits. The determination to
                            surpass past
                            achievements has made MSI a ‘True Gaming’ brand throughout the industry!
                        </p>

                        <button class="btn button1">Get Started</button>
                        <button class="btn btn-light">Subs Now</button>
                </div>
            </div>
            <div class="web-icon">
                <img class="mascot-img" src="img/msi-logo-3.png" alt="">
            </div>
        </div>
    </div>

    <div class="product-superiority">
        <div class="product-container">
            <div class="square-wrapper">
                <div class="content-product">
                    <img class="content-img" src="img/wallet.png" alt="">
                    <p><strong>Price</strong></p>
                    <p>Our product is have few price category that reach out any kind of customers.</p>
                </div>
            </div>
            <div class="square-wrapper">
                <div class="content-product">
                    <img class="content-img" src="img/chip.png" alt="">
                    <p><strong>Performance</strong></p>
                    <p>Our product is super fast and has modern technology that perform better than any other brand.</p>
                </div>
            </div>
            <div class="square-wrapper">
                <div class="content-product">
                    <img class="content-img" src="img/layers.png" alt="">
                    <p><strong>Design</strong></p>
                    <p>Our product is really designed for the best look and performance.</p>
                </div>
            </div>
            <div class="square-wrapper">
                <div class="content-product">
                    <img class="content-img" src="img/growth.png" alt="">
                    <p><strong>Market</strong></p>
                    <p>Our product has the best selling products on the market for any kind of it.</p>
                </div>
            </div>
            <div class="square-wrapper">
                <div class="content-product">
                    <img class="content-img" src="img/support.png" alt="">
                    <p><strong>Support</strong></p>
                    <p>Best after market services to our products.</p>
                </div>
            </div>
            <div class="square-wrapper">
                <div class="content-product">
                    <img class="content-img" src="img/group.png" alt="">
                    <p><strong>Community</strong></p>
                    <p>Large and super friendly community for our customers.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="jump-team" class="tcontainer">
        <div class="inner-tcontainer">
            <h3>MEET THE TEAM</h3>
            <div class="team-content">
                <div class="team-wrapper">
                    <div class="team-list">
                        <div class="circular-square">
                            <img src="img/gilang-profile.jpeg" alt="">
                        </div>
                        <h3>Gilang Nur F</h3>
                        <p>Mockup Design</p>
                        <div class="social-icon">
                            <a href="https://facebook.com/profile/" target="_blank">
                                <img src="img/facebook (3).png" alt="">
                            </a>
                            <a href="https://twitter.com/" target="_blank">
                                <img src="img/twitter.png" alt="">
                            </a>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <img src="img/in.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="team-wrapper">
                    <div class="team-list">
                        <div class="circular-square">
                            <img src="img/hanif-profile.jpg" alt="">
                        </div>
                        <h3>Hanif Ardhiansyah Y</h3>
                        <p>Mockup Design & Front-End</p>
                        <div class="social-icon">
                            <a href="https://web.facebook.com/hanif.ardhiansyah.37/" target="_blank">
                                <img src="img/facebook (3).png" alt="">
                            </a>
                            <a href="https://twitter.com/ardhian_hay" target="_blank">
                                <img src="img/twitter.png" alt="">
                            </a>
                            <a href="https://www.linkedin.com/in/hanif-ardhiansyah-yudith-4751b91a4/" target="_blank">
                                <img src="img/in.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="team-wrapper">
                    <div class="team-list">
                        <div class="circular-square">
                            <img src="img/riko-profile.jpeg" alt="">
                        </div>
                        <h3>Riko Adi S</h3>
                        <p>Front-End</p>
                        <div class="social-icon">
                            <a href="https://facebook.com/profile/" target="_blank">
                                <img src="img/facebook (3).png" alt="">
                            </a>
                            <a href="https://twitter.com/" target="_blank">
                                <img src="img/twitter.png" alt="">
                            </a>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <img src="img/in.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="team-wrapper">
                    <div class="team-list">
                        <div class="circular-square">
                            <img src="img/arif-profile.jpeg" alt="">
                        </div>
                        <h3>Arif Muttama</h3>
                        <p>Back-End</p>
                        <div class="social-icon">
                            <a href="https://facebook.com/profile/" target="_blank">
                                <img src="img/facebook (3).png" alt="">
                            </a>
                            <a href="https://twitter.com/" target="_blank">
                                <img src="img/twitter.png" alt="">
                            </a>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <img src="img/in.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="team-wrapper">
                    <div class="team-list">
                        <div class="circular-square">
                            <img src="img/krisda-profile.jpeg" alt="">
                        </div>
                        <h3>Wahyu Krisda</h3>
                        <p>Presentation</p>
                        <div class="social-icon">
                            <a href="https://facebook.com/profile/" target="_blank">
                                <img src="img/facebook (3).png" alt="">
                            </a>
                            <a href="https://twitter.com/" target="_blank">
                                <img src="img/twitter.png" alt="">
                            </a>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <img src="img/in.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="team-wrapper">
                    <div class="team-list">
                        <div class="circular-square">
                            <img src="img/hendra-profile.jpeg" alt="">
                        </div>
                        <h3>Hendrawan Y</h3>
                        <p>Back-End</p>
                        <div class="social-icon">
                            <a href="https://facebook.com/profile/" target="_blank">
                                <img src="img/facebook (3).png" alt="">
                            </a>
                            <a href="https://twitter.com/" target="_blank">
                                <img src="img/twitter.png" alt="">
                            </a>
                            <a href="https://www.linkedin.com/" target="_blank">
                                <img src="img/in.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="award-container">
        <div class="award-content">
            <div class="award-img">
                <img src="img/laptop white.png" alt="">
            </div>
            <p>Best Awarded Laptop Brand <br>2019</p>
        </div>
        <div class="award-content">
            <div class="award-img">
                <img src="img/vga white.png" alt="">
            </div>
            <p>Best Awarded GPU Brand <br>2019</p>
        </div>
        <div class="award-content">
            <div class="award-img">
                <img src="img/mobo white.png" alt="">
            </div>
            <p>Best Awarded Motherboard Brand <br>2019</p>
        </div>
        <div class="award-content">
            <div class="award-img">
                <img src="img/monitor icon white.png" alt="">
            </div>
            <p>Best Awarded Monitor Brand <br>2019</p>
        </div>
    </div>

    <!-- Latest Product -->
    <div id="jump-product" class="portfolio-panel">
        <h3>LATEST PRODUCTS</h3>
        <div class="container">
            <div class="row">
                <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="product-menu">
                        <li class="item"><a class="filter-button" href="javascript:void(0);" data-filter="all">Show
                                All</a></li>
                        <li class="item"><a class="filter-button" href="javascript:void(0);"
                                data-filter="laptop">Laptop</a></li>
                        <li class="item"><a class="filter-button" href="javascript:void(0);"
                                data-filter="Motherboard">Motherboard</a></li>
                        <li class="item"><a class="filter-button" href="javascript:void(0);" data-filter="GPU">GPU</a>
                        </li>
                    </ul>
                    <br />
                </div>
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter Motherboard">
                    <img src="img/b500m hdv pro.png" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter Motherboard">
                    <img src="img/b550 gaming plus.png" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter Motherboard">
                    <img src="img/z490.png" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter laptop">
                    <img src="img/bravo 15.png" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter laptop">
                    <img src="img/msi modern 14.png" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter laptop">
                    <img src="img/msi prestige.png" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter GPU">
                    <img src="img/rtx 2070 super oc.png" class="img-responsive">
                </div>

                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter GPU">
                    <img src="img/rtx 2080 ti.png" class="img-responsive">
                </div>
            </div>
        </div>
    </div>

    <!-- testimony container -->
    <div class="container-xl">
        <div class="row">
            <div class="col-sm-12">
                <h2>What <b>they</b> are saying</h2>
                <div id="productCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Carousel indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#productCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#productCarousel" data-slide-to="1"></li>
                        <li data-target="#productCarousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Wrapper for carousel items -->
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="media">
                                        <img src="img/jagat-review-logo.png" class="mr-3" alt="">
                                        <div class="media-body">
                                            <div class="testimonial">
                                                <p>MSI Alpha 15 adalah laptop gaming budget dengan cpu dan gpu dari AMD
                                                    terbaik pada tahun 2019.
                                                </p>
                                                <p class="overview"><b>Jagat Review</b>, Gadget Reviewer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="media">
                                        <img src="img/nerd review.jpg" class="mr-3" alt="">
                                        <div class="media-body">
                                            <div class="testimonial">
                                                <p>Dengan desain yang tipis dan elegan, MSI Prestige 14 merupakan laptop
                                                    yang cocok untuk para professional.</p>
                                                <p class="overview"><b>Nerd Review</b>, Tech Reviewer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="media">
                                        <img src="img/gaptech id.jpg" class="mr-3" alt="">
                                        <div class="media-body">
                                            <div class="testimonial">
                                                <p>MSI B450 Pro Steel Legend adalah motherboard AM4 terbaik untuk dan
                                                    terpopuler.
                                                </p>
                                                <p class="overview"><b>Gaptech ID</b>, Tech Reviewer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="media">
                                        <img src="img/jarrod-tech.jpg" class="mr-3" alt="">
                                        <div class="media-body">
                                            <div class="testimonial">
                                                <p>Comfortable keyboard and fast performance, MSI Bravo 15 is a beast!
                                                </p>
                                                <p class="overview"><b>Jarrod's Tech</b>, Tech Reviewer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="media">
                                        <img src="../img/1200px-2018_Linus_Tech_Tips_logo.svg.png" class="mr-3" alt="">
                                        <div class="media-body">
                                            <div class="testimonial">
                                                <p>With less price, MSI RX 5700 XT Mech OC just slighly above RTX 2070
                                                    Super performance with more than 1000 bucks price different.
                                                </p>
                                                <p class="overview"><b>Linus Tech Tips</b>, Tech Reviewer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="media">
                                        <img src="img/hw-unboxed.jpg" class="mr-3" alt="">
                                        <div class="media-body">
                                            <div class="testimonial">
                                                <p>MSI have the best performance and temperature for the RX 5600 XT
                                                    GPU's.</p>
                                                <p class="overview"><b>Hardware Unboxed</b>, Tech Reviewer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer id="dk-footer" class="dk-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="dk-footer-box-info">
                        <a href="/" class="footer-logo">
                            <img src="img/msi-logo-2.png" alt="footer_logo" class="img-fluid">
                        </a>
                        <p class="footer-info-text">
                            Reference site about Lorem Ipsum, giving information on its origins, as well as a random
                            Lipsum generator.
                        </p>
                        <div class="footer-social-link">
                            <h3>Follow us</h3>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Social link -->
                    </div>
                    <!-- End Footer info -->
                    <!-- <div class="footer-awarad">
                        <img src="images/icon/best.png" alt="">
                        <p>Best Design Company 2019</p>
                    </div> -->
                </div>
                <!-- End Col -->
                <div class="col-md-12 col-lg-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="contact-us">
                                <div class="contact-icon">
                                    <i class="fa fa-map-o" aria-hidden="true"></i>
                                </div>
                                <!-- End contact Icon -->
                                <div class="contact-info">
                                    <h3>Amikom Yogyakarta</h3>
                                    <p>Jl. Ring Road Utara, Ngringin, Condongcatur, Kec. Depok,
                                        Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281</p>
                                </div>
                                <!-- End Contact Info -->
                            </div>
                            <!-- End Contact Us -->
                        </div>
                        <!-- End Col -->
                        <div class="col-md-6">
                            <div class="contact-us contact-us-last">
                                <div class="contact-icon">
                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                </div>
                                <!-- End contact Icon -->
                                <div class="contact-info">
                                    <h3>+62 123456789</h3>
                                    <p>Give us a call</p>
                                </div>
                                <!-- End Contact Info -->
                            </div>
                            <!-- End Contact Us -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Contact Row -->
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="footer-widget footer-left-widget">
                                <div class="section-heading">
                                    <h3>Useful Links</h3>
                                    <span class="animate-border border-black"></span>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#jump-about">About us</a>
                                    </li>
                                    <li>
                                        <a href="/service">Services</a>
                                    </li>
                                    <li>
                                        <a href="#jump-product">Product</a>
                                    </li>
                                    <li>
                                        <a href="#jump-team">Our Team</a>
                                    </li>
                                </ul>

                            </div>
                            <!-- End Footer Widget -->
                        </div>
                        <!-- End col -->
                        <div class="col-md-12 col-lg-6">
                            <div class="footer-widget">
                                <div class="section-heading">
                                    <h3>Subscribe</h3>
                                    <span class="animate-border border-black"></span>
                                </div>
                                <p>
                                    Want to gets notification to our new products launch ?</p>
                                <form action="send-email" method="POST">
                                    <div class="form-row">
                                        <div class="col dk-footer-form">
                                            <input type="email" class="form-control" id="email" placeholder="Email Address" name="email" required>
                                            <button type="submit" id="btn-email">
                                                <i class="fa fa-send"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <!-- End form -->
                            </div>
                            <!-- End footer widget -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Col -->
            </div>
            <!-- End Widget Row -->
        </div>
        <!-- End Contact Container -->


        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span>Copyright © 2020, All Right Reserved Amikom</span>
                    </div>
                    <!-- End Col -->
                    <div class="col-md-6">
                        <div class="copyright-menu">
                            <ul>
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="#jump-about">About Us</a>
                                </li>
                                <li>
                                    <a href="#jump-team">Team</a>
                                </li>
                                <li>
                                    <a href="/service">Service</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
                <!-- End Row -->
            </div>
            <!-- End Copyright Container -->
        </div>
        <!-- End Copyright -->
        <!-- Back to top -->
        <div id="back-to-top" class="back-to-top">
            <a href="#"> <button class="btn btn-dark" title="Back to Top" style="display: block;">
                    <i class="fa fa-angle-up"> </i>
                </button></a>
        </div>
        <!-- End Back to top -->
    </footer>

    
    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2.4.2/dist/umd/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script>
        //Swiper
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            spaceBetween: 0,
            loop: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>
    <script>
        $(document).ready(function(){
    $("#btn-email").click(function(){
        alert("Terimaksih telah berlangganan");
    });
});
    </script>
</body>

</html>