<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>MSI Service Page</title>
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="icon" href="favicon.png" />
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Noto+Sans+JP:wght@400;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700">


    <script src="js/jquery-3.5.1.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2.4.2/dist/umd/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/behaviour.js"></script>
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <div class="container">
            <!-- <a class="navbar-brand" href="img/Msi_Logo.png"></a> -->
            <img class="navbar-brand" src="img/Msi_Logo.png" alt="msi-logo">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#jump-about">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/#jump-team">Team</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/service">Service</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header>
        <div id="carousel-header-indicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active" style="
              background-image: url(img/index_head_bg1.jpg);
            ">
                    <div class="text-header">
                        <p><b>Welcome To Our Service And Support</b> <br></p>
                        <p1>Customized services especially for you</p1>
                    </div>
                </div>
            </div>
    </header>

    <div class="award-container1">
        <div class="col-sm-12">
            <h2> ANYTHING YOU NEED ?</h2>
            <br>
            <div class="award-content1">
                <div class="award-img">
                    <img src="img/service-location.png" alt="">
                </div>
                <h3>Service Location</h3>
                <p>check the repair service shop</p>
            </div>
            <div class="award-content1">
                <div class="award-img">
                    <img src="img/warranty-icon.png" alt="">
                </div>
                <h3>Warranty</h3>
                <p>Check the warranty policy</p>
            </div>
            <div class="award-content1">
                <div class="award-img">
                    <img src="img/download-icon.png" alt="">
                </div>
                <h3>Downloads</h3>
                <p>Receive the latest software,and driver</p>
            </div>
            <div class="award-content1">
                <div class="award-img">
                    <img src="img/hotline-icon.png" alt="">
                </div>
                <h3>Hotline</h3>
                <p>Talk to a service representative</p>
            </div>
        </div>
    </div>

    <footer id="dk-footer" class="dk-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="dk-footer-box-info">
                        <a href="index.html" class="footer-logo">
                            <img src="img/msi-logo-2.png" alt="footer_logo" class="img-fluid">
                        </a>
                        <p class="footer-info-text">
                            Reference site about Lorem Ipsum, giving information on its origins, as well as a random
                            Lipsum generator.
                        </p>
                        <div class="footer-social-link">
                            <h3>Follow us</h3>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Social link -->
                    </div>
                    <!-- End Footer info -->
                    <!-- <div class="footer-awarad">
                        <img src="images/icon/best.png" alt="">
                        <p>Best Design Company 2019</p>
                    </div> -->
                </div>
                <!-- End Col -->
                <div class="col-md-12 col-lg-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="contact-us">
                                <div class="contact-icon">
                                    <i class="fa fa-map-o" aria-hidden="true"></i>
                                </div>
                                <!-- End contact Icon -->
                                <div class="contact-info">
                                    <h3>Amikom Yogyakarta</h3>
                                    <p>Jl. Ring Road Utara, Ngringin, Condongcatur, Kec. Depok,
                                        Kabupaten Sleman, Daerah Istimewa Yogyakarta 55281</p>
                                </div>
                                <!-- End Contact Info -->
                            </div>
                            <!-- End Contact Us -->
                        </div>
                        <!-- End Col -->
                        <div class="col-md-6">
                            <div class="contact-us contact-us-last">
                                <div class="contact-icon">
                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                </div>
                                <!-- End contact Icon -->
                                <div class="contact-info">
                                    <h3>+62 123456789</h3>
                                    <p>Give us a call</p>
                                </div>
                                <!-- End Contact Info -->
                            </div>
                            <!-- End Contact Us -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Contact Row -->
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="footer-widget footer-left-widget">
                                <div class="section-heading">
                                    <h3>Useful Links</h3>
                                    <span class="animate-border border-black"></span>
                                </div>
                                <ul>
                                    <li>
                                        <a href="/#jump-about">About us</a>
                                    </li>
                                    <li>
                                        <a href="/service">Services</a>
                                    </li>
                                    <li>
                                        <a href="/#jump-product">Product</a>
                                    </li>
                                    <li>
                                        <a href="/#jump-team">Our Team</a>
                                    </li>
                                </ul>

                            </div>
                            <!-- End Footer Widget -->
                        </div>
                        <!-- End col -->
                        <div class="col-md-12 col-lg-6">
                            <div class="footer-widget">
                                <div class="section-heading">
                                    <h3>Subscribe</h3>
                                    <span class="animate-border border-black"></span>
                                </div>
                                <p>
                                    Want to gets notification to our new products launch ?</p>
                                <form action="/send-email" method="post">
                                    <div class="form-row">
                                        <div class="col dk-footer-form">
                                            <input type="email" class="form-control" id="email" placeholder="Email Address" name="email" required>
                                            <button type="submit" id="btn-email">
                                                <i class="fa fa-send"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <!-- End form -->
                            </div>
                            <!-- End footer widget -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Col -->
            </div>
            <!-- End Widget Row -->
        </div>
        <!-- End Contact Container -->


        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span>Copyright © 2020, All Right Reserved Amikom</span>
                    </div>
                    <!-- End Col -->
                    <div class="col-md-6">
                        <div class="copyright-menu">
                            <ul>
                                <li>
                                    <a href="/">Home</a>
                                </li>
                                <li>
                                    <a href="/#jump-about">About Us</a>
                                </li>
                                <li>
                                    <a href="/#jump-team">Team</a>
                                </li>
                                <li>
                                    <a href="/service">Service</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
                <!-- End Row -->
            </div>
            <!-- End Copyright Container -->
        </div>
        <!-- End Copyright -->
        <!-- Back to top -->
        <div id="back-to-top" class="back-to-top">
            <a href="#"> <button class="btn btn-dark" title="Back to Top" style="display: block;">
                    <i class="fa fa-angle-up"> </i>
                </button></a>
        </div>
        <!-- End Back to top -->
    </footer>
    <script>
        $(document).ready(function(){
    $("#btn-email").click(function(){
        alert("Terimaksih telah berlangganan");
    });
});
    </script>
</body>

</html>